node_modules/
.next/
.env
.env.local
.env.*.local
.DS_Store
_pgbackup/
_pginfo/
database.db
*.db
*.log
.vscode/settings.json
Efi Bank/
.swc/
.env.*
!.env.example
*.tar.gz
*.bundle
*.swp
*.swo
tmp-*
buscar.txt
